<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="test suit">
		<classes>
			<class name="test.TestLoginPage"></class>
			<class name="test.TestProfilePage"></class>

		</classes>
		<!-- <groups> <define name="all"> <include name="A"></include> <include 
			name="B"></include> <include name="Profile"></include> <include name="Equal"></include> 
			</define> <run> </run> </groups> <packages> <package name="test" /> </packages> -->
	</test> <!-- Test -->
</suite> <!-- Suite -->
